:host
{
    .rippleable
    {
        overflow: hidden;

        .ripple
        {
            background-color: currentColor;
            border-radius:    50%;
            color:            inherit;
            opacity:          0;
            pointer-events:   none;
            position:         absolute;
            will-change:      transform, opacity;
        }

        .animation-enter
        {
            transition: none;
        }

        .animation-in
        {
            transition:
                transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
                opacity   0.1s cubic-bezier(0.4, 0, 0.2, 1);
        }

        .animation-out
        {
            transition:
                opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}