:host
{
    -webkit-tap-highlight-color: transparent;

    display:     inline-flex;
    flex:        0 0 auto;
    box-sizing:  border-box;
    caret-color: currentColor;
    outline:     0;

    .container
    {
        position: inherit;

        bottom:   inherit;
        left:     inherit;
        right:    inherit;
        top:      inherit;

        height:   inherit;
        width:    inherit;

        z-index:  inherit;

        box-sizing:  border-box;
        display:     inline-flex;
        flex:        0 0 auto;
        outline:     0;
        will-change: box-shadow;
    }
}