{
    "all":       true,
    "cache":     true,
    "include":   ["source/@surface/*"],
    "exclude":   ["source/@surface/*/tests/*", "source/@surface/*/extensions.*"],
    "reporter":  ["lcov", "text-summary"]
}