:host
{
    background: white;
    display:    inline-flex;
    flex:       0 0 auto;
    height:     100vh;
    left:       0;
    max-height: calc(100% - 32px);
    position:   fixed;
    top:        64px;
    width:      256px;
    z-index:    0;
}
