:host
{
    display: table-cell;
    height:  inherit;
    
    slot
    {
        display:       flex;
        overflow:      hidden;
        padding-left:  5px;
        padding-right: 5px;
        white-space:   nowrap;
    }
    ::slotted(*)
    {
        *
        {
            text-overflow: ellipsis;
        }
    }
}

:host-context(surface-data-header-group):host-context(surface-data-row):host
{
    background-color: gray;
    color:            white;
}