:host
{
    display: table-cell;
    height:  inherit;
    #content
    {
        height:  inherit;
        display: flex;
        margin:  auto 4px;
        > span
        {
            margin-top:    auto;
            margin-bottom: auto;
        }
    }
}

:host-context(surface-data-header-group):host
{
    #content > span
    {
        margin: auto;
    }
}