@import "../colors.scss";
@import "../elevation.scss";

$icon-size:      48px;
$icon-font-size: 24px;

:host container
{
    align-items:      center;
    background-color: $primary;
    border-radius:    4px;
    box-sizing:       border-box;
    caret-color:      currentColor;
    color:            white;
    cursor:           pointer;
    display:          inline-flex;
    flex:             0 0 auto;
    font-family:      "Roboto", sans-serif;
    font-size:        14px;
    font-weight:      500;
    height:           32px;
    justify-content:  center;
    min-width:        64px;
    padding:          0 16px;
    position:         relative;
    text-transform:   uppercase;
    user-select:      none;

    &::before
    {
        background-color: currentColor;
        border-radius:    inherit;
        bottom:           0;
        color:            inherit;
        content:          "";
        left:             0;
        opacity:          0;
        pointer-events:   none;
        position:         absolute;
        right:            0;
        top:              0;
        transition:       opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    }

    &.outlined
    {
        background-color: transparent;
        border-color:     currentColor;
        border-style:     solid;
        border-width:     1px;
        color:            $primary;
    }

    &.flat
    {
        background-color: transparent;
        color: $primary;
    }

    &.rounded
    {
        border-radius: 20px;
    }

    &.fab
    {
        border-radius: 50%;
        font-size:     $icon-font-size;
        height:        $icon-size;
        min-height:    0;
        min-width:     0;
        width:         $icon-size;
    }

    &.icon
    {
        background-color: transparent;
        border-radius:    50%;
        color:            $primary;
        font-size:        $icon-font-size;
        height:           $icon-size;
        min-height:       0;
        min-width:        0;
        width:            $icon-size;
    }
}

:host([disabled])
{
    opacity:        0.6;
    pointer-events: none;
}

:host(:hover) container::before
{
    opacity: 0.06;
}

:host(:focus)
{
    outline: 0;

    container::before
    {
        opacity: 0.12;
    }
}