@import "../mixins";

$button-size: 22px;

:host,
{
    width: 100%;

    ::slotted(surface-list-item)
    {
        margin-top: 2px;
        width:      100%;
    }

    input
    {
        margin-top: 2px;
        @include exact-height($button-size);
        @include exact-width($button-size);

    }

    @at-root #{&}([hide-add-button=true])
    {
        input
        {
            display: none;
        }
    }
}