<surface-import from="../../switch" />
<surface-import from="../../dropdown" />
<surface-import from="../../stack-panel" />
<surface-import from="./data-filter-item" />

<fieldset style="width: 100%;">
    <surface-switch value="[[ host.type == 'boolean' ]]">
        <template when="true">
            <surface-stack-panel orientation="horizontal">
                <div horizontal-align="left">
                    <input type="radio" name="boolean-filter" />
                    <label for="boolean-filter">true</label>
                </div>
                <div horizontal-align="left">
                    <input type="radio" name="boolean-filter" />
                    <label for="boolean-filter">false</label>
                </div>
            </surface-stack-panel>
        </template>
        <template when="false">
            <surface-stack-panel distribuition="justify">
                <div id="container">
                    <surface-data-filter-item type="[[ host.type ]]" fixed="true"></surface-data-filter-item>
                </div>
                <surface-stack-panel id="add-filters" orientation="horizontal">
                    <surface-dropdown source="[[ host.operators ]]"></surface-dropdown>
                    &nbsp;
                    <input type="button" value="+" horizontal-align="left" on-click="{{ host.add(host.shadowQuery('surface-dropdown').value) }}">
                </surface-stack-panel>
            </surface-stack-panel>
        </template>
    </surface-switch>
    <div id="footer">
        <input type="button" value="Apply" horizontal-align="left" />
        <input type="button" value="Clear" horizontal-align="left" />
    </div>
</fieldset>