#import "../for-each"
#import "../icon"
#import "../pager"
#import "../stack-panel"
#import "../switch"
#import "./data-filter"

<div horizontal-align="center">Filters</div>
<hr>
<button type="button" :disabled="host.editing" :value="host.localization.new" on:click="host.addNew()" horizontal-align="left">
    <surface-icon name="add"></surface-icon>
</button>
<div id="root">
    <slot></slot>
</div>
<hr>
<div horizontal-align="center">
    <surface-pager :page-count="host.pageCount" ::page="host.page" :disabled="host.editing"></surface-pager>
</div>