<surface-import from="../for-each" />
<surface-import from="../icon" />
<surface-import from="../pager" />
<surface-import from="../stack-panel" />
<surface-import from="../switch" />
<surface-import from="./data-filter" />

<div horizontal-align="center">Filters</div>
<hr>
<button type="button" disabled="[[ host.editing ]]" value="[[ host.localization.new ]]" on-click="[[ host.addNew() ]]" horizontal-align="left">
    <surface-icon name="add"></surface-icon>
</button>
<div id="container">
    <slot></slot>
</div>
<hr>
<div horizontal-align="center">
    <surface-pager page="{{ host.page }}" page-count="[[ host.pageCount ]]" disabled="[[ host.editing ]]"></surface-pager>
</div>