<surface-import from="../for-each" />
<surface-import from="../pager" />
<surface-import from="../stack-panel" />
<surface-import from="../switch" />

<div horizontal-align="center">Filters</div>
<hr>
<input type="button" disabled="[[ host.editing ]]" value="New" on-click="[[ host.addNew() ]]" horizontal-align="left" />
<div id="container">
    <slot></slot>
</div>
<hr>
<div horizontal-align="center">
    <surface-pager page="{{ host.page }}" page-count="[[ host.pageCount ]]" disabled="[[ host.editing ]]"></surface-pager>
</div>