:host
{
    display:        flex;
    flex-direction: column;
    overflow:       auto;
    table-layout:   fixed;
    > slot
    {
        display: table;
        width:   100%;
    };
    > hr
    {
        width: 99%;
    }
}