:host
{
    display:        flex;
    flex-direction: column;
    flex-grow:      1;

    ::slotted(*)
    {
        margin: 0;
    }

    ::slotted([grow="0"])
    {
        flex-grow: 0;
    }
    
    ::slotted([grow="1"])
    {
        flex-grow: 1;
    }

    ::slotted([grow="2"])
    {
        flex-grow: 2;
    }

    ::slotted([grow="3"])
    {
        flex-grow: 3;
    }

    ::slotted([shrink=false])
    {
        flex-shrink: 0;
    }
}    

:host([orientation=vertical])
{
    flex-direction: column;
    align-items:    stretch;
}

:host([orientation=horizontal])
{
    flex-direction: row;
    align-items:    stretch;
}

:host,
:host([orientation=vertical]),
:host([orientation=horizontal])
{
    ::slotted([vertical-align=top])
    {
        height:        auto;
        margin-top:    0;
        margin-bottom: auto;
    }

    ::slotted([vertical-align=center])
    {
        height:        auto;
        margin-top:    auto;
        margin-bottom: auto;
    }
    
    ::slotted([vertical-align=bottom])
    {
        height:        auto;
        margin-top:    auto;
        margin-bottom: 0;
    }
    
    ::slotted([horizontal-align=left])
    {
        width:        auto;
        margin-left:  0;
        margin-right: auto;
    }

    ::slotted([horizontal-align=center])
    {
        width:        auto;
        margin-left:  auto;
        margin-right: auto;
    }

    ::slotted([horizontal-align=right])
    {
        width:        auto;
        margin-left:  auto;
        margin-right: 0;
    }
}

:host([orientation=vertical][distribuition=justify]),
:host([orientation=horizontal][distribuition=justify])
{
    justify-content: space-between;
}

:host([orientation=vertical][reverse=true])
{
    flex-direction: column-reverse;
}

:host([orientation=vertical][distribuition=center]),
:host([orientation=horizontal][distribuition=center])
{
    justify-content: space-evenly;
}

:host([orientation=horizontal][reverse=true])
{
    flex-direction: row-reverse;
}