:host
{
    background-color: rgb(75, 75, 75);
    color:            white;
    display:            table-cell;
    height:             inherit;
    #content
    {
        height: inherit;
        display: flex;
        margin: auto 4px;
        label
        {
            margin: auto;
        }
    }
}