@import "../../styles/mixins.scss";

:host
{
    -webkit-backface-visibility: hidden;

    backface-visibility: hidden;
    display:             flex;
    flex-direction:      column;
    flex:                1 1 auto;
    margin:              0;
    max-width:           100%;
    min-height:          100vh;
    padding:             0;
    position:            relative;

    @include this-text-color("text", "color", "*");
}