@import "../../styles/mixins.scss";

html
{
    -moz-osx-font-smoothing:     grayscale;
    -webkit-font-smoothing:      antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust:    100%;

    box-sizing:     border-box;
    font-size:      16px;
    overflow-x:     hidden;
    overflow-y:     scroll;
    text-rendering: optimizeLegibility;

    body
    {
        margin: 0;
    }
}