@import "../styles/container.scss";

@mixin set-color($property)
{
    &,
    &.light
    {
        #{$property}: var(--smd--color, var(--smd--light--primary, var(--smd--primary)));
    }

    &.dark
    {
        #{$property}: var(--smd--color, var(--smd--dark--primary, var(--smd--primary)));
    }

    &:not(.light, .dark)
    {
        #{$property}: var(--smd--color, var(--smd--primary));
    }
}

:host
{
    bottom:   0;
    height:   32px;
    left:     0;
    position: fixed;
    right:    0;
    z-index:  1;

    .container
    {
        align-items: center;
        display:     inline-flex;
        flex:        0 0 auto;
        padding:     0 10px;

        @include set-color("background-color");
    }
}
