:host
{    
    display:        flex;
    flex-direction: column;
    flex-grow:      1;
    flex-shrink:    0;
}

:host([grow=true]),
:host([can-grow])
{
    flex-grow: 1;
}

:host([grow=false])
{
    flex-grow: 0;
}

:host([shrink=true])
{
    flex-shrink: 1;
}

:host([shrink=false]),
:host([no-shrink])
{
    flex-shrink: 0;
}

:host([orientation=vertical]),
:host([orientation])
{
    flex-direction: column;
}

:host([align=justify]),
:host([orientation=vertical][justify=true]),
:host([justify]),
:host([vertical][justify])
{ 
    ::slotted(:first-child)
    {
        margin-top: 0;
    }

    ::slotted(:not(:last-child))
    {
        margin-bottom: auto;
    }

    ::slotted(:not(:first-child))
    {
        margin-top: auto;
    }

    ::slotted(:last-child)
    {
        margin-bottom: 0;
    }
}

:host([orientation=horizontal]),
:host([horizontal])
{
    display:        flex;
    flex-direction: row;
}

:host([align=center]),
:host([orientation=vertical][align=center]),
:host([orientation=horizontal][align=center]),
:host([center]),
:host([vertical][center]),
:host([horizontal][center])
{
    ::slotted(*)
    {
        margin: auto;
    }
}

:host([orientation=horizontal][justify=true]),
:host([horizontal][justify])
{    
    ::slotted(:first-child)
    {
        margin-left: 0;
    }

    ::slotted(:not(:last-child))
    {
        margin-right: auto;
    }

    ::slotted(:not(:first-child))
    {
        margin-left: auto;
    }

    ::slotted(:last-child)
    {
        margin-right: 0;
    }
}

:host([align=top]),
:host([horientation=vertical][align=top]),
:host([top]),
:host([vertical][top])
{
    ::slotted(:first-child)
    {
        margin-top:    0;
        margin-bottom: 0;
    }

    ::slotted(:not(:first-child))
    {
        margin-bottom: auto;
    }
}

:host([horientation=horizontal][align=top]),
:host([horizontal][top])
{
    ::slotted(*)
    {
        margin-top:    0;
        margin-bottom: auto;
    }
}

:host([align=bottom]),
:host([horientation=vertical][align=bottom]),
:host([bottom]),
:host([vertical][bottom])
{
    ::slotted(:not(:last-child))
    {
        margin-top: auto;
    }

    ::slotted(:last-child)
    {
        margin-top:    0;
        margin-bottom: 0;
    }
}

:host([horientation=horizontal][align=bottom]),
:host([horizontal][bottom])
{
    ::slotted(*)
    {
        margin-top:    auto;
        margin-bottom: 0;
    }
}

:host([align=left]),
:host([horientation=vertical][align=left]),
:host([left]),
:host([vertical][left]),
{
    ::slotted(*)
    {
        margin-left:  0;
        margin-right: auto;
    }
}

:host([horientation=horizontal][align=left]),
:host([horizontal][left])
{
    ::slotted(:first-child)
    {
        margin-left:  0;
        margin-right: 0;
    }

    ::slotted(:not(:first-child))
    {
        margin-right: auto;
    }
}

:host([align=right]),
:host([horientation=vertical][align=right]),
:host([right]),
:host([vertical][right])
{
    ::slotted(*)
    {
        margin-left:  auto;
        margin-right: 0;
    }
}

:host([horientation=horizontal][align=right]),
:host([horizontal][right])
{
    ::slotted(:not(:last-child))
    {
        margin-left:  auto;
    }

    ::slotted(:last-child)
    {
        margin-left:  0;
        margin-right: 0;
    }
}