<surface-import from="../../modal" />

<div on-click="{{ host.sortable && host.sort() }}" style="width: 100%;">
    <span horizontal-align="center"><b>[[ host.header ]]</b></span>
</div>
<input style="[[ host.sortable ? '' : 'display: none' ]]" type="button" value="P" on-click="{{ host.tooglePin() }}" />
<div style="[[ host.filterable ? '' : 'display: none' ]]">
    <input type="button" value="F" on-click="{{ host.toogleFilters() }}" />
    <surface-modal start-position="manual" stick="left">
        <surface-data-filter field="[[ host.field ]]" field-type="[[ host.fieldType ]]"></surface-data-filter>
    </surface-modal>
</div>