@import "../../styles/mixins.scss";

$icon-size:      48px;
$icon-font-size: 24px;

:host
{
    @include host;

    align-items:     center;
    cursor:          pointer;
    font-size:       14px;
    font-weight:     500;
    height:          32px;
    justify-content: center;
    text-transform:  uppercase;
    user-select:     none;

    #container
    {
        @include container;

        align-items:     center;
        border-radius:   4px;
        height:          inherit;
        justify-content: center;
        min-width:       64px;
        padding:         0 16px;
        position:        relative;
        width:           inherit;

        &:not(.icon):not(.outlined):not(.text)
        {
            @include text-color;
            @include set-color("background-color", "secondary", "this-color");
        }

        &.outlined
        {
            border-style: solid;
            border-width: 1px;
        }

        &.rounded
        {
            border-radius: 20px;
        }

        &.fab,
        &.icon
        {
            border-radius: 50%;
            font-size:     inherit;
            min-height:    inherit;
            min-width:     inherit;
        }

        &.icon,
        &.outlined,
        &.text
        {
            @include set-color("color",        "secondary", "this-color");
            @include set-color("border-color", "secondary", "this-color");

            background-color: transparent;
        }

        &.tile
        {
            border-radius: 0;
        }

        &.block
        {
            max-width: inherit;
            min-width: 100%;
        }

        @include hoverable-before;
    }
}

:host(:hover) #container
{
    @include hover-before;
}

:host([block]),
:host([block=true])
{
    display:   flex;
    flex:      0 1 auto;
    min-width: 100%;
}

:host([icon]),
:host([icon=true]),
:host([fab]),
:host([fab=true])
{
    font-size:  $icon-font-size;
    height:     $icon-size;
    min-height: 0;
    min-width:  0;
    width:      $icon-size;
}