:host
{
    --background-color: rgb(125, 125, 125);

    background-color: var(--background-color);
    
    display:        flex;
    flex-direction: row;
}

:host([wrap=true])
{
    flex-wrap: wrap;
}

:host([orientation=vertical])
{
    display:        inline-flex;
    flex-direction: column;
}