:host
{
    --color:                   white;
    --background-color:        rgb(125, 125, 125);
    --background-color-hover:  rgb(150, 150, 150);
    --background-color-active: rgb(175, 175, 175);

    background-color: var(--background-color);
    
    display:        flex;
    flex-direction: row;

    ::slotted(surface-menu-separator)
    {
        margin: 5px;
        border: solid 1px var(--background-color-hover);
    }

    ::slotted(surface-menu-item)
    {
        --color:                   var(--color);
        --background-color:        var(--background-color);
        --background-color-hover:  var(--background-color-hover);
        --background-color-active: var(--background-color-active);
    }
}

:host([wrap=true])
{
    flex-wrap: wrap;
}

:host([type=context])
{
    display:        inline-flex;
    flex-direction: column;
}

:host([hidden])
{
    display: none;
}