:host
{
    --color:                           white;
    --background-color:                rgb(100, 100, 100);
    --background-color-hover:          rgb(125, 125, 125);
    --background-color-active:         rgb(150, 150, 150);
    --sub-item-color:                  white;
    --sub-item-ident:                  rgb(50, 50, 50);
    --sub-item-background-color:       rgb(75, 75, 75);
    --sub-item-background-color-hover: rgb(100, 100, 100);
    --sub-item-background-color-active:rgb(125, 125, 125);
    --text-align:                        center;

    position: relative;
    width:    100%;
    height:   30px;

    background: var(--background-color);
    color:      var(--color);
    text-align: var(--text-align);

    > surface-stack-panel
    {
        height: 100%;
    }

    > sub-items
    {
        display:        none;
        flex-direction: column;
        position:       absolute;
        width:          100%;
    }

    #text
    {
        padding-left: 10px;
    }
}

:host(:hover)
{
    background-color: var(--background-color-hover);
    > sub-items
    {
        display: flex;        
    }
}

:host(:hover:active)
{
    background-color: var(--background-color-active);
}

%icon-holder
{
    width:   30px;
    height:  100%;
    display: flex;
}

%icon
{
    width:               25px;
    height:              25px;
    margin:              auto;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    display:             block;
}

:host-context(sub-items)
{
    &:host
    {
        background-color: var(--sub-item-background-color);
        > sub-items
        {
            display: none;
            top:     0;
        }
    }

    &:host(:hover)
    {
        background-color: var(--sub-item-background-color-hover);
        > sub-items
        {
            display: flex;
        }
    }

    &:host(:active)
    {
        background-color: var(--sub-item-background-color-active);
    }

    #arrow[root]::after
    {
        content:       "\25b6";
        font-size:     0.65em;
        padding-right: 5px;
    }

    #icon-holder
    {
        @extend %icon-holder;
        background-color: var(--sub-item-ident);
        #icon
        {
            @extend %icon;
        }
    }

}

:host([icon])
{
    #icon-holder
    {
        @extend %icon-holder;
        //background-color: unset;
        #icon
        {
            @extend %icon;
        }
    }
}