$default-size:    30px;
$only-icons-size: 60px;

:host > #root
{
    --color:                   white;
    --background-color:        rgb(125, 125, 125);
    --background-color-hover:  rgb(150, 150, 150);
    --background-color-active: rgb(175, 175, 175);

    height:   $default-size;
    position: relative;

    color:      var(--color);
    background: var(--background-color);

    > surface-stack-panel
    {
        min-height: $default-size;
        background: inherit;
        
        #text
        {
            $padding: 5px;

            padding-left:  $padding;
            padding-right: $padding;
            text-overflow: ellipsis;
            user-select:   none;
            white-space:   nowrap;
        }

        #inline-arrow
        {
            position: absolute;
            right:    2px;
            bottom:   2px;
            fill:     var(--background-color-active);
            display:  none;
        }
    }

    > #container
    {
        display:        none;
        flex-direction: column;
        position:       absolute;
        height:         auto;
        width:          inherit;
        z-index:        999;
    }
}

:host > #root:hover
{
    > surface-stack-panel
    {
        background-color: var(--background-color-hover);
    }

    > #container
    {
        display: flex;
    }
}

:host > #root:not([has-items]):active > surface-stack-panel
{
    background-color: var(--background-color-active);
}

%icon-holder
{
    display: flex;
    height:  $default-size;
    width:   $default-size;
}

%icon
{
    background-position: center center;
    background-repeat:   no-repeat;
    background-size:     cover;
    display:             block;
    height:              $default-size - 5;
    margin:              auto;
    width:               $default-size - 5;
}

:host-context(surface-menu[type=only-icons]),
:host-context(surface-menu[type=only-icons]):host-context(#container)
{
    &:host > #root
    {
        height: $only-icons-size;
        > surface-stack-panel
        {
            #text
            {
                display: none;
            }

            #inline-arrow
            {
                display: none;
            }
        }
    }

    //&:host-context(#container):host > #root
    //{
    //    > surface-stack-panel
    //    {
    //        height: inherit;
    //        #text
    //        {
    //            display: initial;
    //        }
    //    }
    //}

    &:host([icon]) > #root
    {
        #icon-holder
        {
            @extend %icon-holder;

            //background-color: var(--background-color);
            background-color: transparent;
            height:           $only-icons-size;
            width:            $only-icons-size;

            #icon
            {
                @extend %icon;
                height: $only-icons-size - 5;
                width:  $only-icons-size - 5;
            }
        }
    }

    &:host > #root[has-items] > surface-stack-panel > #inline-arrow
    {
        display: block;
    }
}

:host-context(#container),
:host-context(surface-menu[orientation=vertical])
{
    &:host > #root
    {
        background-color: var(--background-color);
        
        &[has-items] > surface-stack-panel
        {
            > #inline-arrow
            {
                display: block;
            }
        }

        > surface-stack-panel
        {
            > #icon-holder
            {
                @extend %icon-holder;
                background-color: var(--background-color-hover);

                #icon
                {
                    @extend %icon;
                }
            }
        }

        > #container
        {
            top: 0;
        }
    }

    //&:host(:active) > #root
    //{
    //    background-color: var(--background-color-active);
    //}

    //&:host(:hover) > #root
    //{
    //    background-color: var(--background-color-hover);
    //}
}