:host
{
    --color:                           white;
    --background-color:                rgb(100, 100, 100);
    --background-color-hover:          rgb(125, 125, 125);
    --background-color-active:         rgb(150, 150, 150);
    --sub-item-color:                  white;
    --sub-item-ident:                  rgb(50, 50, 50);
    --sub-item-background-color:       rgb(75, 75, 75);
    --sub-item-background-color-hover: rgb(100, 100, 100);
    --sub-item-background-color-active:rgb(125, 125, 125);
    --text-align:                        center;

    position: relative;
    height:   30px;

    color:      var(--color);
    background: var(--background-color);

    > surface-stack-panel
    {
        min-height: 30px;
        background: inherit;
        > #text
        {
            padding-left:  10px;
            padding-right: 10px; 
            text-overflow: ellipsis;
            user-select:   none;
            white-space:   nowrap;
        }
    }

    > #container
    {
        display:        none;
        flex-direction: column;
        position:       absolute;
        height:         auto;
        width:          inherit;
        z-index:        999;
    }
}

:host(:hover)
{
    background-color: var(--background-color-hover);
    > #container
    {
        display: flex;
    }
}

:host(:active)
{
    background-color: var(--background-color-active);
}

%icon-holder
{
    width:   30px;
    display: flex;
}

%icon
{
    width:               25px;
    height:              25px;
    margin:              auto;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    display:             block;
}

:host-context(#container)
{
    &:host
    {
        background-color: var(--sub-item-background-color);

        > #container
        {
            top: 0;
        }

        #arrow[root]::after
        {
            content:       "\25b6";
            font-size:     0.65em;
            padding-right: 5px;
        }

        #icon-holder
        {
            @extend %icon-holder;
            background-color: var(--sub-item-background-color-hover);
            #icon
            {
                @extend %icon;
            }
        }
    }

    &:host(:hover)
    {
        background-color: var(--sub-item-background-color-hover);
    }
}

:host([icon])
{
    #icon-holder
    {
        @extend %icon-holder;
        #icon
        {
            @extend %icon;
        }
    }
}