<require path="../../stack-panel" />

<div id="root">
    <surface-stack-panel orientation="horizontal">
        <div id="icon-holder" shrink="false">
            <span id="icon" style="background-image: url({{host.icon}});"></span>
        </div>
        <label id="text" horizontal-align="left"  vertical-align="center">{{host.label}}</label>
        <svg id="inline-arrow" horizontal-align="right" vertical-align="bottom" width="8" height="8">
            <path d="M8.000,0.000 L8.000,8.000 L0.000,8.000 L8.000,0.000 Z" />
        </svg>
    </surface-stack-panel>
    <div id="container">
        <slot></slot>
    </div>
</div>