:host
{   
    box-sizing:    border-box;
    flex-shrink:   0;      
    overflow:      hidden;
    text-align:    center;
    text-overflow: ellipsis;
    white-space:   nowrap;
    
    @at-root #{&}(:not([style]))
    {
        flex-grow:  1;
        flex-basis: 0;
    }

    ::slotted(surface-switch)
    {
        width: 100%;
    }
}

:host-context(surface-data-header):host-context(surface-data-row):host,
:host-context(surface-data-footer):host-context(surface-data-row):host
{
    background-color: gray;
    color:            white;
}