:host
{
    button
    {
        -webkit-tap-highlight-color: transparent;
        align-items:                 center;
        border-radius:               50%;
        background-color:            transparent;
        border-style:                none;
        cursor:                      pointer;
        height:                      48px;
        width:                       48px;

        span
        {
            display: flex;
            color:   inherit;

            surface-icon
            {
                font-size: 24px;
                margin:    auto;
            }
        }

        &::before
        {
            height:           inherit;
            width:            inherit;
            text-decoration:  inherit;
            vertical-align:   inherit;
            box-sizing:       inherit;
            background-color: currentColor;
            border-radius:    inherit;
            bottom:           0;
            color:            inherit;
            content:          "";
            left:             0;
            opacity:          0;
            pointer-events:   none;
            position:         absolute;
            right:            0;
            top:              0;
            transition:       opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
        }

        &:focus
        {
            outline: 0;
        }

        &:hover::before
        {
            opacity: 0.04;
        }

        &:active::before
        {
            opacity: 0.16;
        }

        // &.ripple
        // {
        //     background-color: #2196f3;
        //     background-position: center;
        //     transition:          background 0.8s;
        // }

        // &.ripple:hover
        // {
        //     background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center / 15000%;
        // }

        // &.ripple:active
        // {
        //     background-color: #6eb9f7;
        //     background-size:  100%;
        //     transition:       background 0s;
        // }
    }
}