:host
{
    display:        inline-flex;
    flex-direction: column;
    
    @at-root #{&}([direction=column])
    {
        flex-direction: column;
    }
    
    @at-root #{&}([direction=row])
    {
        flex-direction: row;
    }
}