:host
{    
    display:        flex;
    flex-direction: column;
    flex-grow:      1;
    flex-shrink:    0;

    ::slotted(*)
    {
        margin: auto;
    }
}

:host([orientation=horizontal])
{
    flex-direction: row;
}

:host([orientation=vertical][position=top])
{
    ::slotted(:not(:first-child)),
    ::slotted(:not(:last-child))
    {
        margin: 0 auto 0 auto;
    }

    ::slotted(:first-child)
    {
        margin: 0 auto 0 auto;
    }

    ::slotted(:last-child)
    {
        margin: 0 auto auto auto;
    }
}

:host([orientation=vertical][position=top-right])
{
    ::slotted(:not(:first-child)),
    ::slotted(:not(:last-child))
    {
        margin: 0 0 0 auto;
    }

    ::slotted(:first-child)
    {
        margin: 0 0 0 auto;
    }

    ::slotted(:last-child)
    {
        margin: 0 0 auto auto;
    }
}

:host([orientation=vertical][position=right])
{    
    ::slotted(:not(:first-child)),
    ::slotted(:not(:last-child))
    {
        margin: 0 0 0 auto;
    }

    ::slotted(:first-child)
    {
        margin: auto 0 0 auto;
    }

    ::slotted(:last-child)
    {
        margin: 0 0 auto auto;
    }
}

:host([orientation=vertical][position=bottom-right])
{
    ::slotted(:not(:first-child)),
    ::slotted(:not(:last-child))
    {
        margin: 0 0 0 auto;
    }

    ::slotted(:first-child)
    {
        margin: auto 0 0 auto;
    }

    ::slotted(:last-child)
    {
        margin: 0 0 0 auto;
    }
}

:host([orientation=vertical][position=bottom])
{
    ::slotted(:not(:first-child)),
    ::slotted(:not(:last-child))
    {
        margin: 0 auto 0 auto;
    }

    ::slotted(:first-child)
    {
        margin: auto auto 0 auto;
    }

    ::slotted(:last-child)
    {
        margin: 0 auto 0 auto;
    }
}

:host([orientation=vertical][position=bottom-left])
{
    ::slotted(:not(:first-child)),
    ::slotted(:not(:last-child))
    {
        margin: 0 auto 0 0;
    }

    ::slotted(:first-child)
    {
        margin: auto auto 0 0;
    }

    ::slotted(:last-child)
    {
        margin: 0 auto 0 0;
    }
}

:host([orientation=vertical][position=left])
{
    ::slotted(:not(:first-child)),
    ::slotted(:not(:last-child))
    {
        margin: 0 auto 0 0;
    }

    ::slotted(:first-child)
    {
        margin: auto auto 0 0;
    }

    ::slotted(:last-child)
    {
        margin: 0 auto auto 0;
    }
}

:host([orientation=vertical][position=top-left])
{
    ::slotted(:not(:first-child)),
    ::slotted(:not(:last-child))
    {
        margin: 0 auto 0 0;
    }

    ::slotted(:first-child)
    {
        margin: 0 auto 0 0;
    }

    ::slotted(:last-child)
    {
        margin: 0 auto auto 0;
    }
}

:host([orientation=vertical][position=center])
{
    ::slotted(:not(:first-child)),
    ::slotted(:not(:last-child))
    {
        margin: 0 auto 0 auto;
    }

    ::slotted(:first-child)
    {
        margin: auto auto 0 auto;
    }

    ::slotted(:last-child)
    {
        margin: 0 auto auto auto;
    }
}

:host([orientation=vertical][justify=true])
{ 
    ::slotted(:first-child)
    {
        margin-top: 0;
    }

    ::slotted(:not(:last-child))
    {
        margin-bottom: auto;
    }

    ::slotted(:not(:first-child))
    {
        margin-top: auto;
    }

    ::slotted(:last-child)
    {
        margin-bottom: 0;
    }
}

:host([orientation=horizontal][position=top])
{
    ::slotted(:first-child)
    {
        margin: 0 0 auto auto;
    }

    ::slotted(:not(:last-child))
    {
        margin-top:   0;
        margin-right: 0;
    }

    ::slotted(:not(:first-child))
    {
        margin-top:  0;
        margin-left: 0;
    }

    ::slotted(:last-child)
    {
        margin: 0 auto auto 0;
    }
}

:host([orientation=horizontal][position=top-right])
{
    ::slotted(:not(:last-child))
    {
        margin-left:   auto;
        margin-top:    0;
        margin-bottom: auto;
    }

    ::slotted(:last-child)
    {
        margin: 0;
    }
}

:host([orientation=horizontal][position=right])
{
    ::slotted(:first-child)
    {
        margin: auto 0 auto auto;
    }

    ::slotted(:not(:last-child))
    {
        margin-right: 0;
    }

    ::slotted(:not(:first-child))
    {
        margin-left: 0;
    }

    ::slotted(:last-child)
    {
        margin: auto auto auto 0;
    }
}

:host([orientation=horizontal][position=bottom-right])
{
    ::slotted(:not(:last-child))
    {
        margin-left:   auto;
        margin-top:    0;
        margin-bottom: auto;
    }

    ::slotted(:last-child)
    {
        margin: 0;
    }
}

:host([orientation=horizontal][position=bottom])
{
    ::slotted(*)
    {
        margin-top:    auto;
        margin-bottom: 0;
    }
}

:host([orientation=horizontal][position=left])
{
    ::slotted(:first-child)
    {
        margin-left:  0;
        margin-right: 0;
    }

    ::slotted(:not(:first-child))
    {
        margin-right: auto;
    }
}

:host([orientation=horizontal][position=top-left])
{
    ::slotted(:first-child)
    {
        margin: 0;
    }

    ::slotted(:not(:first-child))
    {
        margin: 0 0 auto auto;
    }
}



:host([orientation=horizontal][position=center])
{
    ::slotted(*)
    {
        margin: auto;
    }
}

:host([orientation=horizontal][justify=true])
{    
    ::slotted(:first-child)
    {
        margin-left: 0;
    }

    ::slotted(:not(:last-child))
    {
        margin-right: auto;
    }

    ::slotted(:not(:first-child))
    {
        margin-left: auto;
    }

    ::slotted(:last-child)
    {
        margin-right: 0;
    }
}

:host([grow=true])
{
    flex-grow: 1;
}

:host([grow=false])
{
    flex-grow: 0;
}

:host([shrink=true])
{
    flex-shrink: 1;
}

:host([shrink=false])
{
    flex-shrink: 0;
}