<span id="root" :class="host.classes">
    <span id="inputable" class="rippleable">
        <template #if="host.outlined">
            <fieldset id="frame">
                <legend id="hidden-label">{host.label || "-"}</legend>
                <span id="input" contenteditable="true" ::text-content="host.value">{host.value}</span>
            </fieldset>
        </template>
        <template #else>
            <span id="frame">
                <span id="input" contenteditable="true" ::text-content="host.value">{host.value}</span>
            </span>
        </template>
    </span>
    <span id="hint">{host.hint}</span>
    <span id="label">{host.label}</span>
</span>