@import "../../styles/mixins.scss";

$interval: 0.2s;

$transition: $interval linear;

:host
{
    @include host-defaults;

    font-size:   16px;
    font-weight: 400;
    min-width:   100px;

    #root
    {
        @include inherits-boundary;
        @include root-defaults;

        flex-direction: column;

        #inputable
        {
            display:       flex;
            margin:        0 0 22px 0;
            min-height:    52px;
            position:      relative;
            width:         100%;
            overflow:      visible;
            #frame
            {
                display:        flex;
                flex-direction: column;
                // margin:        0 0 22px 0;
                min-height:     52px;
                position:       relative;
                width:          100%;

                #hidden-label
                {
                    height:   0;
                    color:    transparent;
                    overflow: hidden;
                }

                #input
                {
                    display:   flex;
                    margin:    16px 0 0 0;
                    min-width: 30px;
                    outline:   none;
                    @include   set-property("color", "var(--this-text-color, black)", "var(--this-text-color, white)");
                }
            }

        }
        #label
        {
            font-weight:      600;
            overflow:         hidden;
            pointer-events:   none;
            position:         absolute;
            transform-origin: 0 0;
            transition:       $transition;

            @include text-color;
        }

        #hint
        {
            bottom:      2px;
            font-size:   12px;
            font-weight: 400;
            height:      0;
            opacity:     0;
            overflow:    hidden;
            position:    absolute;
            transform:   translateY(-16px);
            transition:  $transition;
        }

        &.active
        {
            #inputable
            {
                .ripple
                {
                    @include set-color("color", "secondary");
                }

                #frame
                {
                    @include text-color("secondary");
                }
            }

            #label
            {
                width: 100%;
                @include text-color("secondary");
            }
        }

        &.lableable.active,
        &.lableable.valuable
        {
            #label
            {
                width: 100%;
            }
        }

        &.hintable
        {
            #hint
            {
                height:    15px;
                opacity:   1;
                transform: translateY(0);
            }
        }

        &.filled,
        &.outlined
        {
            #hint
            {
                left: 12px;
            }
        }

        &:not(.outlined)
        {
            #inputable #frame
            {
                &::before
                {
                    bottom:   0;
                    content:  "";
                    height:   1px;
                    position: absolute;
                    width:    100%;

                    @include set-color("background-color", "text");
                }
            }
        }

        &:not(.filled):not(.outlined)
        {
            #inputable
            {
                #frame
                {
                    #input
                    {
                        padding: 8px 0;
                    }
                }
            }

            #label
            {
                width:     100%;
                transform: translate(0, 24px);
            }

            &.lableable.active,
            &.lableable.valuable
            {
                #label
                {
                    width:     100%;
                    transform:
                        translate(0, 4px)
                        scale(0.75);
                }
            }
        }

        &.filled
        {
            #inputable
            {
                #frame
                {
                    @include background-color("surface");

                    #input
                    {
                        display: flex;
                        margin:  16px 12px 0 12px;
                        padding: 8px 0;
                        width:   calc(100% - 24px);
                    }
                }
            }

            #label
            {
                width:     calc(100% - 24px);
                transform: translate(12px, 24px);
            }

            &.lableable.active,
            &.lableable.valuable
            {
                #label
                {
                    transform:
                        translate(12px, 4px)
                        scale(0.75);
                }
            }
        }

        &.outlined
        {
            #inputable
            {
                #frame
                {
                    border-radius: 5px;
                    border-style:  solid;
                    box-sizing:    border-box;
                    min-height:    56px;
                    min-width:     inherit;
                    padding:       0;
                    transition:    $transition;
                    width:         inherit;

                    @include set-color("border-color", "text-300");

                    #hidden-legend
                    {
                        // color:       lawngreen;
                        color:       transparent;
                        font-size:   12px;
                        line-height: 0;
                        margin-left: 8px;
                        overflow:    hidden;
                        padding:     0;
                        transition:  $transition;
                        width:       0;
                    }

                    #input
                    {
                        margin: 16px 12px;
                    }
                }
            }

            #label
            {
                width:     calc(100% - 30px);
                transform: translate(14px, 17.5px);
            }

            &.lableable.active,
            &.lableable.valuable
            {
                #inputable #frame #hidden-legend
                {
                    padding: 0 4px;
                    width:   auto;
                }

                #label
                {
                    transform:
                        translate(16px, -6px)
                        scale(0.75);
                }
            }

            &.active #inputable #frame
            {
                @include set-color("border-color", "secondary");
            }
        }
    }
}