@import "../../styles/mixins.scss";

:host
{
    @include host;

    height:   64px;
    left:     0;
    position: fixed;
    right:    0;
    top:      0;
    z-index:  1;

    #container
    {
        @include container;

        align-items: center;
        display:     inline-flex;
        flex:        0 0 auto;

        @include background-color("primary");
    }
}
