@import "../colors.scss";

$icon-size:      48px;
$icon-font-size: 24px;

:host
{
    align-items:     center;
    color:          white;
    cursor:          pointer;
    flex:            1 0 auto;
    font-family:     "Roboto", sans-serif;
    font-size:       14px;
    font-weight:     500;
    justify-content: center;
    text-transform:  uppercase;
    user-select:     none;

    container
    {
        height:           32px;
        min-width:        64px;
        width:            inherit;
        align-items:      center;
        background-color: $primary;
        border-radius:    4px;
        justify-content:  center;
        padding:          0 16px;
        position:         relative;

        &::before
        {
            background-color: currentColor;
            border-radius:    inherit;
            bottom:           0;
            color:            inherit;
            content:          "";
            left:             0;
            opacity:          0;
            pointer-events:   none;
            position:         absolute;
            right:            0;
            top:              0;
            transition:       opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
        }

        &.outlined
        {
            background-color: transparent;
            border-color:     currentColor;
            border-style:     solid;
            border-width:     1px;
            color:            $primary;
        }

        &.text
        {
            background-color: transparent;
            color:            $primary;
        }

        &.rounded
        {
            border-radius: 20px;
        }

        &.fab,
        &.icon
        {
            border-radius: 50%;
            font-size:     $icon-font-size;
            height:        $icon-size;
            min-height:    0;
            min-width:     0;
            width:         $icon-size;
        }

        &.icon
        {
            background-color: transparent;
            color:            $primary;
        }

        &.tile
        {
            border-radius: 0;
        }

        &.block
        {
            max-width: inherit;
            min-width: 100%;
        }
    }
}

:host(:hover) container::before
{
    opacity: 0.06;
}

:host(:focus) container::before,
:host container:focus::before
{
    opacity: 0.12;
}